body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    color: rgb(36, 41, 46);
    background: white;
}

* {box-sizing: border-box}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

.font-heading {
    font-family: 'Libre Franklin', sans-serif;
}

.font-body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.fg-red {
    color: #FF5959;
    color: #E74C3C;
}

.fg-yellow {
    color: #FFD900;
}

.fg-orange {
    color: #ff8800;
}

.fg-purple {
    color: #420098;
}

.fg-blue {
    color: #0091ff;
}

.bg-purple {
    background-color: #2F0922;
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
}

.bg-red {
    background-color: #FF5959;
}

.bg-light-red {
    background-color: #FFEFED;
}

.bg-yellow {
    /* background-color: #FFFFD9; */
    background-color: rgba(255, 255, 217, 0.25);
}

.bg-med-yellow {
    background-color: rgba(255, 255, 217, 0.45);
}

.bg-dark-yellow {
    background-color: rgba(255, 255, 217, 0.95);
}


.bg-black {
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

.bg-black-purple {
    background-color: rgba(0, 0, 0, 0.95);
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(66, 0, 152, 1));
    color: white;
}

.bg-fade-out {
    background-color: rgba(255, 239, 237, 0.6);
    /* background: linear-gradient(rgba(255, 255, 217, 0.35), rgba(255, 239, 237, 0.6)); */
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 239, 237, 1));
}

.bg-fade-in {
    background: linear-gradient(#FFF, rgba(255, 255, 217, 0.35));
}

.bg-med-purple {
    background-color: #400A45;
}

.bg-light-purple {
    /* background-color: #908799; */
    /* background-color: rgba(66, 0, 152, 0.15); */
}

.bg-yellow-white-radial {
    background: radial-gradient(circle, rgba(255, 255, 217, 0.5) 0%, rgba(255,255,217,0.25) 15%, rgb(255, 255, 255) 100%);
}

.bg-grey {
    background-color: #f6f9fc;
}

.fg-white {
    color: white
}

.bg-gradient {

    background: rgb(255,217,0);
    /* background: radial-gradient(circle, rgba(255,217,0,1) 0%, rgba(255,89,89,1) 76%, rgba(231,76,60,1) 100%);      */
    
    background: radial-gradient(circle, #FFFFD9 0%, #FFEFED 16%, #FFEFED 100%); 

    /* background: -webkit-radial-gradient(30% bottom, #FFFFD9 0%, #FFEFED 46%, #FFEFED 100%); */
    background: radial-gradient(at 50% bottom, #FFFFD9 0%, #FFEFED 70%, #FFEFED 100%); 

    color: #333;
}

.img-rieger {
    background-image: url("/static/images/Rieger-Nishimura-concurrency.svg");
    background-repeat: no-repeat;
    background-position: 850px 0px;
    background-position-x: min(850px, 100%);
    background-position-y: 82px;
    background-clip: border-box;
}

.tabs {
    width: 100%;
    height: 335px;
}


.tabs input {
    display: none;
}

.tab-navs {
    width: 38%;
    display: inline-block;
}
  
.tab-nav {
    background-color: inherit;
    padding: 1.5rem 1.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 239, 237, 0.8);
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.15s;
    display: inline-block;
    font-weight: bold;
    opacity: 0.75;
  }

  .tab-nav:hover, .tab-navs .active:hover {
    background-color: rgba(246, 249, 252, 0.66);
    color: black;
    opacity: 0.85;
  }
  
  
  .tab-content {
    padding: 16px;
    padding-right: 0;
    width: 62%;
    border-left: none;
    display: none;
  }

  .window-border {
      display: inline-block;
      padding-bottom: 16px;
      text-align: center;
  }

  .tab-navs .active {
    opacity: 1;
  }

  .bg-yellow .tab-nav {
    border-color: white;
  }

  .bg-yellow .tab-navs .active {
    background-color: rgba(255, 255, 217, .55);
    border-right: 3px solid #ff8800;
  }

  .bg-yellow .tab-navs .tab-nav:hover {
    background-color: rgba(255, 255, 217, .75);
  }

  .bg-purple .tab-navs .active {
    background-color: rgba(64, 10, 69, .55);
    border-right: 3px solid #E74C3C;
    color: white;    
  }

  .bg-purple .tab-navs .tab-nav:hover {
    background-color: rgba(64, 10, 69, .75);
    color: white;
  }


  .bg-white .tab-navs .active {
    border-right: 3px solid #0091ff;
    background-color: rgb(239, 246, 255);
  }

  .bg-white .tab-navs .tab-nav:hover {
    background-color:  rgb(238, 242, 255);
   }


  

  #tab-1:checked ~ #content-1,
  #tab-2:checked ~ #content-2,
  #tab-3:checked ~ #content-3,
  #tab-4:checked ~ #content-4,
  #tab-5:checked ~ #content-5,
  #tab-6:checked ~ #content-6,
  #tab-7:checked ~ #content-7,
  #tab-8:checked ~ #content-8,
  #tab-9:checked ~ #content-9 { 
      display: inline-block;
      float: right;
  }


.margin-left {
    margin-left: auto;
}

.headline {
    font-size: 56px;
}

#lorenz {
    margin: -100px;
    width: 600px;
    height: 400px;
    margin-top: -128px;
    max-width: 100%;
}

.bg-purple {
    --syntax-text: #434447;
    --syntax-background: rgba 0,0,100,0.75;
    --syntax-string: #886594;
    --syntax-comment: #8C828B;
    --syntax-variable: #F8518D;
    --syntax-variable-2: #BF3F6D;
    --syntax-variable-3: #238600;
    --syntax-number: #24805E;
    --syntax-atom: #24805E;
    --syntax-keyword: #496EB8;
    --syntax-property: #0B7880;
    --syntax-definition: #C44170;
    --syntax-meta: #625B6B;
    --syntax-operator: #496EB8;
    --syntax-attribute: #C44170;
    --syntax-tag: #4B71BD;


    --syntax-keyword: rgb(255, 238, 128);
    --syntax-definition: rgb(255, 255, 255);
    --syntax-variable: rgb(158, 255, 255);
    --syntax-string: rgb(255, 184, 112);
    --syntax-builtin: rgb(143, 193, 62);
    --syntax-comment: rgb(92, 152, 205);

}



.bg-yellow {
    --syntax-text: #434447;
    --syntax-background: rgba 0,0,100,0.75;
    --syntax-string: #886594;
    --syntax-comment: #8C828B;
    --syntax-variable: #F8518D;
    --syntax-variable-2: #BF3F6D;
    --syntax-variable-3: #238600;
    --syntax-number: #24805E;
    --syntax-atom: #24805E;
    --syntax-keyword: #496EB8;
    --syntax-property: #0B7880;
    --syntax-definition: #C44170;
    --syntax-meta: #625B6B;
    --syntax-operator: #496EB8;
    --syntax-attribute: #C44170;
    --syntax-tag: #4B71BD;

}

.cm-keyword {
    color: var(--syntax-keyword) !important;
}

.cm-def {
    color: var(--syntax-definition) !important;
}

.cm-variable {
    color: var(--syntax-variable) !important;
}

.cm-number {
    color: var(--syntax-number) !important;
}

.cm-operator {
    color: var(--syntax-operator) !important;
}

.cm-builtin {
    color: var(--syntax-builtin) !important;
}

.cm-string, .cm-string-2 {
    color: var(--syntax-string) !important;
}

.cm-comment {
    color: var(--syntax-comment) !important;
}


.CodeMirror-code {
    overflow-y: auto;
    height: 284px;
}

.greeting-table {
    margin-left: 1.5rem;
}

.greeting-table, .greeting-table th, .greeting-table tr, .greeting-table td {
    border: 1px solid #FF5959;
    padding: .25rem .5rem;
}

.greeting-table thead {
    background-color: rgba(151, 38, 109, 0.5)
}

.greeting-table tbody tr td:first-child {
    background-color: rgba(151, 38, 109, 0.5)
}

/* sm */
@media (max-width: 640px) { 
    .tabs {
        height: 493px;
    }
}

 /* md */
 @media (max-width: 768px) { 
    .tab-navs {
        width: 100%;
    }

    .tab-nav {
        padding: 1rem 1.5rem;
    }

    .tab-content {
        width: 100%;
    }

    .headline {
        font-size: 48px;
    }

    #lorenz {
        margin: auto;
        width: 100%;
        max-width: 100%;
        display: inline;
        margin-top: -128px;
    }
}

@media (min-width: 768px) {
    .tab-navs {
        height: 100%;
    }

}

/* lg */
@media (max-width: 1024px) { 
    
}


.evolution-content {
    background: rgba(255, 255, 255, 0.85);
    z-index: 10;
}

